extends base.jade

block content
	if schoolLinks
		div#schools
			each school in schoolLinks
				h4.schoolName= school.INSTNM
				ul.schoolStats
					each val, index in school
						li.stat= index + ': ' + val				
	else
		div.noCsv
			h1 No CSV files found
			h4
				a(href='/upload') Would you like to add one?