extends base.jade

block content
	h1 Welcome
	h4
		a(href='/upload') Upload a CSV file
	hr
	h4 Or see some stats

	ul
		li
			a(href='/question1') Top 10 Schools by Enrollment
		li
			a(href='/question2') College Gender Distribution 
		li
			a(href='/question3') Change in Tuition Over 3 Years